<% include ../partials/header %>

<div class="container">
    <div class="row">
<h1 style="text-align: center;">Edit <%= island.name %></h1>
    <div style="width: 30%; margin: 30px auto;">
        <form type="submit" action="/islands/<%= island._id %>?_method=PUT" Method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="island[name]" value="<%= island.name %>">
            </div>
            <div class="form-group">
                <input class="form-control" type="number" name="island[price]" value="<%= island.price %>">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="island[image]" value="<%= island.image %>">
            </div> 
            <div class="form-group">
                <input class="form-control" type="text" name="island[description]" value="<%= island.description %>">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit!</button>
            </div>
        </form>
            <a href="/islands">Go Back</a>
    </div>
    
    </div>
</div>

<% include ../partials/footer %>