<% include ../partials/header %>

<div class="contatiner">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">IslandLyfe</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
            <div id="map">MAP</div>
        </div>
        <div class="col-md-9" >
            <div class="thumbnail" id="show">
                <img class="img-responsive max" src= "<%= island.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">$<%=island.price %>/Night</h4>
                    <h4><a><%= island.name %></a></h4>
                    <p><%= island.description %></p>
                    <p><em>Submitted By </em><strong><%= island.author.username %></strong></p>
                    <% if (currentUser && island.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-warning btn-sm" href="/islands/<%= island._id %>/edit"><strong>Edit</strong></a>
                        <form class="pull-right" id="delete-form" action="/islands/<%= island._id %>?_method=Delete" method="POST">
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                        <a class="btn btn-success" href="/islands/<%= island._id %>/comments/new">Leave a Review</a>
                        <hr>
                </div>
                <% island.comments.forEach ((comment)=>{ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author.username %></strong>
                        <span class="pull-right">10 Days Ago</span>
                       <p>
                           <%= comment.text %>
                       </p>
                        <% if (currentUser && comment.author.id.equals(currentUser._id)){ %>
                           <a class="btn btn-xs btn-warning" href="/islands/<%=island._id %>/comments/<%=comment._id%>/edit">Edit</a>
                           <form id="delete-comment-form" class="pull-right" action="/islands/<%=island._id %>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                               <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                           </form>
                       <% } %>
                    </div>
                </div>
                
             <% }) %>
            </div>
       </div>
    </div>
</div>

<script>
  function initMap() {
    var lat = <%= island.lat %>;
    var lng = <%= island.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= island.name %><br />
      <%= island.location %></strong>
      <p><%= island.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3yZ5vq4Pg5nomvVDs54dx8_p75y9QBok&callback=initMap"></script>

<% include ../partials/footer %>